body {
  margin: 0;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: lightblue;
  align-items: center;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#top {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-shadow: 2px 2px grey;
}

.main {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#scoreDescription {
  display: flex;
  justify-content: center;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
  color: darkblue;
}

#score {
  display: flex;
  justify-content: center;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
  color: darkblue;
}

input {
  text-align: center;
  border-radius: 5px;
  margin: 8px;
  background-color: rgb(255, 255, 255);
  color: darkblue;
  font-size: 22px;
  width: 20rem - 2px;
  height: 2rem;
  padding: 0;
}

input::placeholder {
  color: rgb(159, 167, 172);
  font-size: medium;
}

.button {
  border: none;
  font-family: "Helvetica", "Arial", sans-serif;
  border-radius: 5px;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  margin: 8px;
  background-color: rgb(105, 169, 190);
  box-shadow: 3px 5px 5px #888888;
  color: #fff;
  position: relative;
  display: inline-block;
  transition: all 1s ease;
  transform: scale(1);
}

.button:hover {
  cursor: pointer;
  background-color: darkblue;
  /*  Making button bigger on hover  */
  transform: scale(1.1) perspective(1px);
}

footer {
  font-family: "Helvetica", "Arial", sans-serif;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}
