body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: lightblue;
  align-items: center;
}

main {
  width: 100%;
}

header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#top {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-shadow: 2px 2px grey;
}

.list {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
}

ol {
  padding: 0;
  margin: 10px 10px 50px 10px;
}

li {
  margin: 10px 10px 10px 50px;
}

.button {
  border: none;
  font-family: "Helvetica", "Arial", sans-serif;
  border-radius: 5px;
  padding: 0.5rem 0;
  width: 12rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  margin: 8px;
  background-color: rgb(105, 169, 190);
  box-shadow: 3px 5px 5px #888888;
  color: #fff;
  position: relative;
  display: inline-block;
  transition: all 0.2s ease;
  transform: scale(1);
}

.button:hover {
  cursor: pointer;
  background-color: darkblue;
  /*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
}

h2 {
  margin: 0 0 0 30px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: darkblue;
}

#leaderboard {
  min-height: 8rem;
}

footer {
  font-family: "Helvetica", "Arial", sans-serif;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.leaderboardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  margin: 2rem 0;
}

.leaderboardRowWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.leaderboardItem {
  background-color: darkblue;
  min-width: 30px;
}

/* bevel size, left offset and color settings next 3 lines */ 

.bevel { 
  border-width: 35px;
  border-color: darkblue; 
  border-style:solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
 }

.bvc { /* width of overall box, variable or fixed */ 
    margin: 0 auto;
    margin-bottom: 15px;
}

.bvc .topr, .bvc .topl, .bvc .bottomr, .bvc .bottoml { height: 0px; width: 0; }
.bvc .topr, .bvc .topl { border-top: 0; width: 0px;}
.bvc .bottomr, .bvc .bottoml { border-bottom: 0; }
.bvc .rightBevel { border-right-color: transparent; border-left: 0;}
.bvc .leftBevel { border-left-color: transparent;  border-right: 0; }

/* .moveLeft {
  position: absolute;
  left: 40px;
}

.moveLeftLeft {
  position: absolute;
  left: 75px;
} */

/* .moveRight {
  position: absolute;
  right: 40px;
} */

.name {
  color: white;
  height: 35px;
  min-width: 6rem;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  color: white;
  height: 35px;
  min-width: 25px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardPlace {
  color: white;
  height: 35px;
  width: 25px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalDiv {
  display: flex;
  flex-direction: row;
}